.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7b2ff7;
  padding: 15px 40px;
  color: white;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  text-decoration: underline;
}